<div class="trips-index" data-controller="trip-index-search user-menu">
  <h1 class="app-title text-center">
    <span class="title-gather">Gather</span><span class="title-go">Go</span>
  </h1>

  <%# Overlay pour le menu utilisateur %>
  <div class="user-menu-overlay d-none" data-user-menu-target="overlay" data-action="click->user-menu#closeMenu"></div>

  <div class="user-greeting">
    <%= image_tag current_user.photo,
          class: "user-avatar",
          data: { action: "click->user-menu#toggleMenu" } if current_user.photo.attached? %>
    <div class="greeting-text">
      <p class="greeting">
        Hello, <%= current_user.first_name %> !
      </p>
      <p class="greeting-subtitle">
        Let's start a new trip together !
      </p>
    </div>
  </div>

  <%= render 'shared/user_menu' %>

  <%# Overlay pour le focus %>
  <div class="search-overlay d-none" data-trip-index-search-target="overlay"></div>

  <%# Barre de recherche %>
  <div class="search-trips-wrapper">
    <%= render 'shared/text_input',
      input_id: 'trips-search',
      icon_class: 'fa-solid fa-magnifying-glass',
      placeholder: 'Search for a trip',
      value: '',
      data: {
        trip_index_search_target: 'input',
        action: 'focus->trip-index-search#onSearchFocus blur->trip-index-search#onSearchBlur input->trip-index-search#onInput'
      }
    %>
  </div>

  <div class="trips-container">
    <% @trips.each do |trip| %>
      <%= render 'shared/trip_card', trip: trip %>
    <% end %>
  </div>

  <%= link_to new_trip_path, class: "fab-button", aria_label: "Create new trip" do %>
    <i class="fa-solid fa-plus"></i>
  <% end %>


  <div data-controller="toggle" class="toggle-container">
    <span class="toggle-label">Besoin d'inspiration ?</span>
    <label class="toggle-switch">
      <input type="checkbox" data-action="change->toggle#fire">
      <span class="slider"></span>
    </label>
    <div data-toggle-target="toggableElement" class="d-none">
      <%= render "trips/inspiration_form" %>
    </div>
  </div>

</div>
</div>
