<%= render partial: 'shared/header_card',
  locals: {
    title: @trip.name,
    left_buttons: capture do %>
      <%= render 'shared/header_button',
          url: :root,
          icon_class: "fa-solid fa-arrow-left fa-lg",
          title: "Go back" %>
    <% end,
    right_buttons: capture do %>
    <%= render 'shared/header_button',
        url: trip_path(@trip),
        icon_class: "fa-solid fa-share-nodes",
        title: "Share trip",
        share_trip: true
    %>
<% end
}%>

<!-- Affichage des destinations du voyage -->
<%= render "shared/sliding_cards_section",
  title: "Destinations",
  remaining_days: 2,
  cards: @destinations,
  category_path: trip_destinations_path(@trip),
  card_path: ->(card) { trip_destination_path(@trip, card) },
  add_path: new_trip_destination_path(@trip)
%>



<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header d-flex justify-content-center ">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Share the trip with your friends !</h5>
    <%# <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> %>
  </div>

  <div class="offcanvas-body small">
    <%# Stimulus component %>
    <div data-controller="clipboard" data-clipboard-success-content-value="Copied!" class="d-flex">
      <input type="text" class="form-control" value="Click the button to copy me!" data-clipboard-target="source" readonly/>

      <button class="btn btn-primary" type="button" data-action="clipboard#copy" data-clipboard-target="button"><i class="fa-regular fa-clipboard"></i></button>
    </div>

  </div>
</div>

<%= render "shared/tabbar" %>
