<%= render partial: 'shared/header_card',
  locals: {
    title: @trip.name,
    left_buttons: capture do %>
      <%= render 'shared/header_button',
          url: :root,
          icon_class: "fa-solid fa-arrow-left fa-lg",
          title: "Go back" %>
    <% end,
    right_buttons: capture do %>
    <%= render 'shared/header_button',
        url: trip_path(@trip),
        icon_class: "fa-solid fa-share-nodes",
        title: "Share trip",
        share_trip: true
    %>
<% end
}%>

<!-- Affichage des destinations du voyage -->
<%= render "shared/sliding_cards_section",
  title: "Destinations",
  remaining_days: 2,
  cards: @destinations,
  category_path: trip_destinations_path(@trip),
  card_path: ->(card) { trip_destination_path(@trip, card) },
  add_path: new_trip_destination_path(@trip)
%>

<!-- ACCOMODATIONS -->
<section class="sliding-cards-section">
  <%# First row: Title and arrow %>
  <div class="section-header d-flex justify-content-between align-items-center">
    <div class="greeting-text">
      <h3 class="section-title">Accomodations</h3>
    </div>
    <%= link_to trip_destinations_path(@trip), class: "see-more-link" do %>
      <i class="fa-solid fa-xl fa-chevron-right"></i>
    <% end %>
  </div>

  <%# Second row: Scrollable cards container %>
  <div class="cards-container">
    <div class="cards-scroll">

      <%= link_to "#", class: "sliding-card", style: "background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(#{asset_path('laclusaz.webp')})" do %>
        <div class="card-overlay"></div>
        <div class="card-body">
          <h4 class="card-title">Cozy Lodge</h4>
          <div class="card-stats">
            <span class="stats-item">
              <i class="fa-regular fa-comment"></i>4
            </span>
            <span class="stats-item">
              <i class="fa-regular fa-heart"></i>5
            </span>
          </div>
        </div>
      <% end %>

      <%= link_to "#", class: "sliding-card", style: "background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(#{asset_path('courchevel_deux.webp')})" do %>
        <div class="card-overlay"></div>
        <div class="card-body">
          <h4 class="card-title">Beautiful cotage</h4>
          <div class="card-stats">
            <span class="stats-item">
              <i class="fa-regular fa-comment"></i>4
            </span>
            <span class="stats-item">
              <i class="fa-regular fa-heart"></i>5
            </span>
          </div>
        </div>
      <% end %>

      <%= link_to "#", class: "sliding-card", style: "background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(#{asset_path('courchevel.webp')})" do %>
        <div class="card-overlay"></div>
        <div class="card-body">
          <h4 class="card-title">Le Chinaillon appartment</h4>
          <div class="card-stats">
            <span class="stats-item">
              <i class="fa-regular fa-comment"></i>4
            </span>
            <span class="stats-item">
              <i class="fa-regular fa-heart"></i>5
            </span>
          </div>
        </div>
      <% end %>

      <%= link_to "#", class: "sliding-card", style: "background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(#{asset_path('laclusaz_deux.jpg')})" do %>
        <div class="card-overlay"></div>
        <div class="card-body">
          <h4 class="card-title">Full cotage <br> 8 travelers</h4>
          <div class="card-stats">
            <span class="stats-item">
              <i class="fa-regular fa-comment"></i>4
            </span>
            <span class="stats-item">
              <i class="fa-regular fa-heart"></i>5
            </span>
          </div>
        </div>
      <% end %>

    </div>
  </div>


  <%# Third row: Info text and Add button %>
  <div class="section-footer d-flex justify-content-between align-items-center">
    <p class="remaining-time mb-0">
      You still have <strong>7</strong> days to vote
    </p>
    <%= link_to new_trip_destination_path(@trip), class: "btn btn-primary" do %>
      Add
    <% end %>
  </div>
</section>


<!-- ACTIVITIES -->
<section class="sliding-cards-section">
  <%# First row: Title and arrow %>
  <div class="section-header d-flex justify-content-between align-items-center">
    <div class="greeting-text">
      <h3 class="section-title">Activities</h3>
    </div>
    <%= link_to trip_destinations_path(@trip), class: "see-more-link" do %>
      <i class="fa-solid fa-xl fa-chevron-right"></i>
    <% end %>
  </div>

  <%# Second row: Scrollable cards container %>
  <div class="cards-container">
    <div class="cards-scroll">

      <%= link_to "#", class: "sliding-card", style: "background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(#{asset_path('activities/chien_traineau.webp')})" do %>
        <div class="card-overlay"></div>
        <div class="card-body">
          <h4 class="card-title">Sled dogs</h4>
          <div class="card-stats">
            <span class="stats-item">
              <i class="fa-regular fa-comment"></i>1
            </span>
            <span class="stats-item">
              <i class="fa-regular fa-heart"></i>2
            </span>
          </div>
        </div>
      <% end %>
      <%= link_to "#", class: "sliding-card", style: "background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(#{asset_path('activities/jeux_societe.webp')})" do %>
        <div class="card-overlay"></div>
        <div class="card-body">
          <h4 class="card-title">Board games</h4>
          <div class="card-stats">
            <span class="stats-item">
              <i class="fa-regular fa-comment"></i>12
            </span>
            <span class="stats-item">
              <i class="fa-regular fa-heart"></i>7
            </span>
          </div>
        </div>
      <% end %>

      <%= link_to "#", class: "sliding-card", style: "background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(#{asset_path('activities/fondue.png')})" do %>
        <div class="card-overlay"></div>
        <div class="card-body">
          <h4 class="card-title">Fondue</h4>
          <div class="card-stats">
            <span class="stats-item">
              <i class="fa-regular fa-comment"></i>2
            </span>
            <span class="stats-item">
              <i class="fa-regular fa-heart"></i>5
            </span>
          </div>
        </div>
      <% end %>

      <%= link_to "#", class: "sliding-card", style: "background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(#{asset_path('courchevel.webp')})" do %>
        <div class="card-overlay"></div>
        <div class="card-body">
          <h4 class="card-title">Snowshoes walk</h4>
          <p class="card-title mt-5"></p>
          <div class="card-stats">
            <span class="stats-item">
              <i class="fa-regular fa-comment"></i>4
            </span>
            <span class="stats-item">
              <i class="fa-regular fa-heart"></i>3
            </span>
          </div>
        </div>
      <% end %>

    </div>
  </div>


  <%# Third row: Info text and Add button %>
  <div class="section-footer d-flex justify-content-between align-items-center">
    <p class="remaining-time mb-0">
      You still have <strong>15</strong> days to vote
    </p>
    <%= link_to new_trip_destination_path(@trip), class: "btn btn-primary" do %>
      Add
    <% end %>
  </div>
</section>

<div class="offcanvas offcanvas-top border-radius-share" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header header-share d-flex justify-content-center ">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Share the trip with your friends !</h5>
    <%# <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> %>
  </div>

  <div class="offcanvas-body small">
    <%# Stimulus component %>
    <div data-controller="clipboard" data-clipboard-success-content-value="Copied!" class="d-flex">
      <input type="text" class="form-control" value="Click the button to copy me!" data-clipboard-target="source" readonly/>

      <button class="btn btn-primary" type="button" data-action="clipboard#copy" data-clipboard-target="button"><i class="fa-regular fa-clipboard"></i></button>
    </div>

  </div>
</div>

<%= render "shared/tabbar" %>
