<div class="mb-32 bg-gray-500" id="<%= "comment-#{comment.id}" %>">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <%= cl_image_tag(comment.user.photo.key, height: 40, width: 40, class: "avatar") %>
      <p class="m-0 ms-2 fw-bold"><%= comment.user.first_name %></p>
    </div>


      <div class="dropdown">
        <button class="comment-settings" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-ellipsis-vertical text-end"></i>
        </button>
        <ul class="dropdown-menu">
          <% if current_user == comment.user %>
            <li><a class="dropdown-item" data-action="click->comment#delete" data-comment-id="<%= comment.id %>" >Delete</a></li>
          <% end %>
          <li><a class="dropdown-item">Report</a></li>
        </ul>
      </div>

  </div>

  <p class="comment">
    <%= comment.content %>
  </p>
</div>
