<section class="proposal-section" data-searchable-name="<%= proposal[:title] %>">
  <%# Proposal Card %>
  <div class="proposal-card" style="background-image: url('<%= proposal[:image_url] %>')">
    <div class="card-overlay"></div>
    <div class="card-body">
      <%# Wrap card content with link if link_path present %>
      <%= content_tag(proposal[:link_path].present? ? :a : :div,
            class: proposal[:link_path].present? ? "proposal-card-link" : nil,
            href: proposal[:link_path]) do %>
        <h3 class="card-title"><%= proposal[:title] %></h3>
        <% if proposal[:link_path].present? %>
          <i class="fa-solid fa-chevron-right card-arrow"></i>
        <% end %>

        <%# Stats are always present %>
        <div class="card-stats">
          <%= render "shared/stats_item", icon: "fa-regular fa-comment", count: proposal[:comments_count] %>
          <%= render "shared/stats_item", icon: "fa-regular fa-heart", count: proposal[:likes_count] %>
        </div>
      <% end %>
    </div>
  </div>

  <%# Proposal Controls %>
  <div class="proposal-controls">
    <%= render "shared/user_info",
          avatar_url: proposal[:user][:avatar_url],
          name: proposal[:user][:name],
          created_at: proposal[:created_at] %>

    <%= render "shared/vote_button",
          voted: proposal[:voted_by_current_user],
          trip_id: proposal[:trip_id],
          destination_id: proposal[:id] %>
  </div>
</section>
