<%# app/views/shared/_tabbar.html.erb %>
<div>
  <div class="tabbar">
    <%= link_to trip_path(@trip),
        class: "tabbar-button #{current_page?(trip_path(@trip)) ? 'active' : ''}" do %>
      <i class="fa-<%= current_page?(trip_path(@trip)) ? 'solid' : 'solid opacity-50' %> fa-house"></i>
      <span>Trip hub</span>
    <% end %>

    <%= link_to trip_availabilities_path(@trip),
        class: "tabbar-button #{current_page?(trip_availabilities_path(@trip)) ? 'active' : ''}" do %>
      <i class="fa-<%= current_page?(trip_availabilities_path(@trip)) ? 'solid' : 'solid opacity-50' %> fa-calendar"></i>
      <span>Dates</span>
    <% end %>

    <%= link_to '#', class: "tabbar-button" do %>
      <i class="fa-solid fa-comments opacity-50"></i>
      <span>Messages</span>
    <% end %>

    <%= link_to '#', class: "tabbar-button" do %>
      <i class="fa-solid  fa-bell opacity-50"></i>
      <span>Updates</span>
    <% end %>

    <%= link_to '#', class: "tabbar-button" do %>
      <!--<i class="fa-solid fa-users-gear opacity-50"></i>-->
      <i class="fa-solid fa-gear opacity-50"></i>
      <span>Settings</span>
    <% end %>
  </div>
</div>
