<%# app/views/destinations/index.html.erb %>
<%= render partial: 'shared/header_card',
  locals: {
    title: "Destinations",
    left_buttons: capture do %>
      <%= render 'shared/header_button',
          url: trip_path(@trip),
          icon_class: "fa-solid fa-arrow-left fa-lg",
          title: "Go back"
      %>
    <% end
  }
%>

<div class="destinations-container">
  <div data-controller="places-autocomplete">
    <%# Formulaire caché %>
    <%= simple_form_for [@trip, Destination.new], html: { class: 'd-none', data: { places_autocomplete_target: 'form' } } do |f| %>
      <%= f.input :name, input_html: { data: { places_autocomplete_target: 'hiddenInput' } } %>
    <% end %>

    <%# Champ de recherche %>
    <div class="search-destination-wrapper">
      <%= render 'shared/text_input',
        input_id: 'destination-search',
        icon_class: 'fa-solid fa-magnifying-glass',
        placeholder: 'Search for a destination to add your proposal',
        value: ''
      %>
    </div>

    <%# Container pour les résultats d'autocomplete %>
    <div class="places-autocomplete-results" data-places-autocomplete-target="results">
    </div>

    <%# Séparateur pour la recherche %>
    <div data-places-autocomplete-target="searchSeparator" class="d-none">
      <%= render 'shared/separator', text: "Your research" %>
    </div>

    <%# Messages et boutons de feedback %>
    <div data-places-autocomplete-target="noResults" class="text-center my-3 d-none">
      <p>No destination matching your research. Please select a destination from the suggested places in order to add a new one.</p>
    </div>

    <div data-places-autocomplete-target="addDestination" class="text-center my-3 d-none">
      <button class="btn btn-primary" type="button">
        Add <span></span>
      </button>
    </div>

    <%# Liste des destinations %>
    <div data-places-autocomplete-target="proposalsList">
      <% if @destinations.any? %>
        <%= render 'destinations_list',
              destinations: @destinations,
              trip: @trip %>
      <% else %>
        <%= render 'empty_state', trip: @trip %>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/tabbar", active_button: "none" %>
