<div class="sticky-section no-tabbar">
  <div class="splide" data-controller="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <% @destination.photos.each_with_index do |photo, index| %>
          <li class="splide__slide">
              <%# <%= cl_image_tag(photo.key, class:"w-100", width: 400, height: 400, crop: "fill") %>
              <%= cl_image_tag(photo.key, data: { controller: "zoom", action: 'click->zoom#zoom' }) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>

<div>
  <div class="header-btn-on-show left">
    <%= render 'shared/header_button', url: trip_path(@trip), icon_class: "fa-solid fa-arrow-left fa-lg", title: "Go back" %>
  </div>

  <div class="header-btn-on-show right">
    <%= render 'shared/header_button', url: "#", icon_class: "fa-regular fa-heart fa-lg", title: "Go back" %>
  </div>
</div>

<main>
  <div data-controller="scroll" class="sticky-section">
    <div data-scroll-target="element" class="sticky-section main-title">
      <h2 class="mb-0"><%= @destination.name %></h2>
      <p class="mb-1"><%= @trip.name %></p>
    </div>

    <div class="content">
      <div class="main-maps d-flex pt-4 pb-4 px-4 justify-content-between">
        <div>
          <div>
            <h3 class="mb-0"><%= @distance_info[:distance_text] %></h3>
          </div>
          <p class="m-0">from your location</p>
        </div>

        <div>
          <div>
            <h3 class="mb-0"><%= @distance_info[:duration_text] %></h3>
          </div>
          <p class="m-0">travel time</p>
        </div>
      </div>

      <div class="border-top border-primary mx-4 text-center">
        <p class="bg-white px-2 d-inline position-relative" style="top: -15px;">Description</p>
      </div>

      <div class="main-wiki px-5 pt-1 pb-3">
        <p><%= @destination.description %></p>
      </div>

      <div class="border-top border-primary mx-4 text-center">
        <p class="bg-white px-2 d-inline position-relative" style="top: -15px;">Comments</p>
      </div>

    </div>


  </div>
</main>


<%= render "shared/tabbar", active_button: "none" %>
