<div class="sticky-section">
  <%= cl_image_tag(@destination.photo.key, class: "img") if @destination.photo.present? %>
</div>

<main>
  <div class="sticky-section">
    <div class="sticky-section main-title">
      <div class="d-flex text-center">
        <div class="btn-group gap-2" role="group">
          <%= link_to root_path, class: "btn header-btn", title: @destination.name do %>
            <i class="fa-solid fa-arrow-left"></i>
          <% end %>
        </div>
        <h2><%= @destination.name %></h2>
      </div>
    </div>
    <div class="main-maps">
    </div>

    <div class="main-wiki container">
      <%= @destination.description %>
    </div>

  </div>
</main>




<%= render "shared/tabbar", active_button: "none" %>
