<div class="sticky-section no-tabbar">
  <div class="splide" data-controller="splide">
    <div class="splide__track">
      <ul class="splide__list" data-controller="zoom">
        <% @destination.photos.each_with_index do |photo, index| %>
          <li class="splide__slide">
              <%# <%= cl_image_tag(photo.key, class:"w-100", width: 400, height: 400, crop: "fill") %>
              <%= cl_image_tag(photo.key, data: { action: 'click->zoom#zoom', zoom_target: "photo" }) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div>
  <div class="header-btn-on-show left">
    <%= render 'shared/header_button', url: trip_path(@trip), icon_class: "fa-solid fa-arrow-left fa-lg", title: "Go back" %>
  </div>

  <div class="header-btn-on-show right">
    <%= render 'shared/header_button', url: "#", icon_class: "fa-regular fa-heart fa-lg", title: "Go back" %>
  </div>
</div>

<main>
  <div data-controller="scroll" class="sticky-section">
    <div data-scroll-target="element" class="sticky-section main-title">
      <h2 class="mb-0"><%= @destination.name %></h2>
      <p class="mb-1"><%= @trip.name %></p>
    </div>

    <div class="content">
      <div class="main-maps d-flex pt-4 pb-4 px-4 justify-content-between">
        <div>
          <div>
            <h3 class="mb-0"><%= @distance_info[:distance_text] %></h3>
          </div>
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-location-dot"></i>
            <p class="m-0 ms-2">from your location</p>
          </div>
        </div>

        <div>
          <div>
            <h3 class="mb-0"><%= @distance_info[:duration_text] %></h3>
          </div>
          <div class="d-flex align-items-center">
            <p class="m-0 me-2">travel time</p>
            <i class="fa-solid fa-car"></i>
          </div>
        </div>
      </div>

      <div class="border-top border-primary mx-4 text-center">
        <p class="bg-white px-2 d-inline position-relative fw-bold" style="top: -15px;">Description</p>
      </div>

      <div class="px-4 pt-1 pb-3" data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Read less">
        <p class="main-wiki" data-read-more-target="content"><%= @destination.description %></p>
        <div class="d-flex justify-content-end align-items-center">
          <button class="read-more me-2" data-action="read-more#toggle">Read more</button>
          <i data-read-more-target="icon" class="fa-solid fa-angle-down"></i>
        </div>
      </div>

      <div class="border-top border-primary mx-4 text-center">
        <p class="bg-white px-2 d-inline position-relative fw-bold" style="top: -15px;">Comments</p>
      </div>

      <div class="mx-4" data-controller="comment"
          data-comment-commentable-type-value="Destination"
          data-comment-commentable-id-value="<%= @destination.id %>">

        <%# Commentaires %>
        <div data-comment-target="list">
          <% @comments.each do |comment| %>
              <%= render "shared/comment", comment: comment %>
          <% end %>
        </div>

        <div class="text-input-container d-flex align-items-center">
          <textarea class="text-input flex-grow me-3"
            rows="1"
            overflow="hidden"
            placeholder="Add new comment"
            data-comment-target="input"
            data-action="input->comment#write_comment"
            style="resize: none; overflow: hidden;"
            required></textarea>
          <button data-action="click->comment#send_comment" class="add-comment-button"><i data-comment-target="icon" class="fa-regular fa-paper-plane"></i></button>
        </div>
      </div>

      <%# Ajout d'un bouton supprimer %>
      <div class="d-flex justify-content-center align-items-end mt-5">
        <%= link_to "Delete destination",
          trip_destination_path(trip_id: @trip.id, id: @destination.id),
          data: {turbo_method: "delete", turbo_confirm: 'Are you sure?'},
          class: "btn border-secondary text-center" %>
      </div>

    </div>
  </div>
</main>


<%= render "shared/tabbar", active_button: "none" %>
            