<div class="sticky-section no-tabbar">
  <div id="carouselExample" class="carousel slide" data-bs-touch="true">
    <div class="carousel-indicators">
      <% @destination.photos.each_with_index do |photo, index| %>
        <button type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="<%= index %>"
                class="<%= 'active' if index.zero? %>"
                aria-current ="<%= "true" if index.zero?%>"
                aria-label="Slide <%= index + 1 %>"></button>
      <% end %>
    </div>

    <div class="carousel-inner">
      <% @destination.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <%= "active" if index.zero? %>">
          <%= cl_image_tag(photo.key, width: 700, height: 400, crop: "fill") %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!--
  <div class="splide" id="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <% @destination.photos.each_with_index do |photo, index| %>
          <li class="splide__slide"><%= cl_image_tag(photo.key, width: 300, aspect_ratio: "3:4", crop: "fill") %></li>
        <% end %>
      </ul>
    </div>
  </div>
  -->

</div>

<div>
  <div class="header-btn-on-show left">
    <%= render 'shared/header_button', url: trip_path(@trip), icon_class: "fa-solid fa-arrow-left fa-lg", title: "Go back" %>
  </div>

  <div class="header-btn-on-show right">
    <%= render 'shared/header_button', url: "#", icon_class: "fa-regular fa-heart fa-lg", title: "Go back" %>
  </div>
</div>

<main>
  <div data-controller="scroll" class="sticky-section">
    <div data-scroll-target="element" class="sticky-section main-title">
      <h2 class="mb-0"><%= @destination.name %></h2>
      <p class="mb-1"><%= @trip.name %></p>
    </div>

    <div class="content">
      <div class="main-maps d-flex pt-4 pb-3 px-5 justify-content-between">
        <div>
          <div>
            <h3 class="mb-0">673 km</h3>
          </div>
          <p class="mt-0">from your location</p>
        </div>

        <div>
          <div>
            <h3 class="mb-0">5h 34min</h3>
          </div>
          <p class="mt-0">travel time</p>
        </div>
      </div>

      <div class="border-top border-primary mx-4 text-center">
        <p class="bg-white px-2 d-inline position-relative" style="top: -15px;">Description</p>
      </div>

      <div class="main-wiki px-5 pt-1 pb-3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, natus temporibus excepturi vitae corporis distinctio. Sequi voluptatum adipisci voluptas libero. Voluptates nulla sequi quibusdam maiores ipsa odit saepe voluptatem id!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, natus temporibus excepturi vitae corporis distinctio. Sequi voluptatum adipisci voluptas libero. Voluptates nulla sequi quibusdam maiores ipsa odit saepe voluptatem id!</p>
      </div>

      <div class="border-top border-primary mx-4 text-center">
        <p class="bg-white px-2 d-inline position-relative" style="top: -15px;">Comments</p>
      </div>

    </div>


  </div>
</main>


<%= render "shared/tabbar", active_button: "none" %>
