<%= render partial: 'shared/header_card', locals: {
    title: "Availabilities",
    left_buttons: capture do %>
      <%= render 'shared/header_button',
          url: :back,
          icon_class: "fa-solid fa-arrow-left fa-lg",
          title: "Go back"
      %>
    <% end
}%>

<div data-controller="flatpickr" class="d-flex justify-content-center">
  <%= simple_form_for [@trip, @availability] do |f| %>
    <%= f.text_field :start_date, data: { target: "flatpickr.startDate" }, class: "invisible", value: @availability.start_date %>
    <%= f.hidden_field :end_date, data: { target: "flatpickr.endDate" },value: @availability.end_date %>
    <div class="d-flex justify-content-center w-100">
      <%= f.submit "Save availability", class: "btn btn-primary mt-4" %>
    </div>
  <% end %>
</div>


  <%#= simple_form_for [@trip, @availability] do |f| %>
    <%#= f.hidden_field :start_date, data: { target: "flatpickr.startDate" } %>
    <%#= f.hidden_field :end_date, data: { target: "flatpickr.endDate" } %>
    <%#= f.submit %>
  <%# end %>

<%= render "shared/tabbar" %>
