<%= render partial: 'shared/header_card', locals: {
    title: "Availabilities",
    left_buttons: capture do %>
      <%= render 'shared/header_button',
          url: :back,
          icon_class: "fa-solid fa-arrow-left fa-lg",
          title: "Go back"
      %>
    <% end
}%>

<%= simple_form_for [@trip, @availability], data: { controller: "flatpickr" } do |f| %>
  <%= f.datetime_field :start_date, class: "start-date" %>
  <%= f.datetime_field :end_date, class: "end-date" %>
  <%= f.submit %>
<% end %>

<!--Affichage des Availabilities d'un user-->
<!--<div data-controller="flatpickr">-->
  <% @availabilities.each do |availability|  %>
    <p>Available from <%= availability.start_date.strftime("%a, %d %b %Y") %> to <%= availability.start_date.strftime("%a, %d %b %Y") %></p>
  <% end %>
<!--</div>-->

<%= render "shared/tabbar" %>
