<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>Gathergo</title>

    <%# PWA & Mobile Config %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="mobile-web-app-capable" content="yes">

    <%# SEO %>
    <meta name="description" content="Collaborative trip planning made easy">
    <meta name="robots" content="index, follow">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>

    <body>
      <%= render "shared/flashes" %>
      <div class="<%= "mb-60" unless @display_bottom_menu == false %>
                  <%= "mt-80" unless @display_top_menu == false %>
                  ">
        <%= yield %>
      </div>
    </body>
</html>
